body{
    color:#FCF6E4
}
footer{color: #FAC38B;}
.header{color:#FAC38B}
.search{
    color:#FCF6E4;
    border-radius: 10px;
}
.txt{
    border-radius: 10px;
    border-color: #FAC38B;
}
.img{border-radius: 10px}
@media (max-width: 600px) {
body{position: absolute;}

  }
